NODE_ENV=development
PORT=3001
SERVICE_NAME=product-service
DATABASE_URL=postgresql://admin:secret@localhost:5432/products_db
DIRECT_URL=postgresql://admin:secret@localhost:5432/products_db
REDIS_URL=redis://localhost:6379
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
CLOUDINARY_PRODUCT_FOLDER=microservices-shop/products
